@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: local("Inter"), url("/inter.ttf") format("truetype");
}

@font-face {
  font-family: "Lexend";
  src: local("Lexend"), url("/lexend.ttf") format("truetype");
}

* {
  font-family: "Inter"
}
