@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src:
    local("Inter"),
    url("/inter.ttf") format("truetype");
}

@font-face {
  font-family: "Lexend";
  src:
    local("Lexend"),
    url("/lexend.ttf") format("truetype");
}

* {
  font-family: "Lexend";
}

:is([data-kb-theme="dark"]) {
  --bg: #1c1917;
  --bg-card: #292524;
  --bg-hover: #44403c;
  background: var(--bg);
}

:is([data-kb-theme="light"]) {
  --bg: #fafaf9;
  --bg-card: #eeedec;
  --bg-hover: #e0dddc;
  background: var(--bg);
}
