@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src:
    local("Inter"),
    url("/inter.ttf") format("truetype");
}

@font-face {
  font-family: "Lexend";
  src:
    local("Lexend"),
    url("/lexend.ttf") format("truetype");
}

@font-face {
  font-family: "Inter Tight";
  src:
    local("Inter Tight"),
    url("/intertight.ttf") format("truetype");
}

* {
  font-family: "Inter Tight";
}

:root {
  --primary-bg: #2f6bc6;
  --primary-border: #2c65ba;
  --primary-fg: #c9daf2;
}

:is([data-kb-theme="dark"]) {
    --bg: #141415;
    --level-1: #242424;
    --level-1-border: #363636;
    --level-1-hover: #303031;
    --level-2: #333333;
    --level-2-border: #454545;
    --level-2-hover: #404040;
    --level-3: #424243;
    --level-3-border: #545454;
    --level-3-hover: #4f4f4f;
    background: var(--bg);
}
:is([data-kb-theme="light"]) {
    --bg: #FAFAFB;
    --level-1: #f3f3f3;
    --level-1-border: #d9d9da;
    --level-1-hover: #e8e8e9;
    --level-2: #e8e8e9;
    --level-2-border: #cfcfd0;
    --level-2-hover: #dededf;
    --level-3: #dededf;
    --level-3-border: #c4c4c5;
    --level-3-hover: #d4d4d5;
    background: var(--bg);
}

.hoverable {
  cursor: pointer;
}

.lvl-1 {
  background: var(--level-1);
  border-color: var(--level-1-border);

  &.hoverable:hover {
    background: var(--level-1-hover);
  }
}
.lvl-2 {
  background: var(--level-2);
  border-color: var(--level-2-border);

  &.hoverable:hover {
    background: var(--level-2-hover);
  }
}
.lvl-3 {
  background: var(--level-3);
  border-color: var(--level-3-border);

  &.hoverable:hover {
    background: var(--level-3-hover);
  }
}

.sk-list-item {
  &:not(:last-child) {
    border-bottom-width: 1px;
  }
}

.button {
  padding: 3px 7px;
  background: var(--primary-bg);

  color: var(--primary-fg);
  border-radius: 4px;
  border: 1px solid var(--primary-border);

  &:hover {
    background: var(--primary-bg-hover);
  }

  &:active {
    background: var(--primary-bg-active);
  }
}

/* .card { */
/* padding: 7px 10px; */
/* border-radius: 4px; */
/* background: var(--level-1); */
/* border: 1px solid var(--lvl-one-border); */
/* } */

.card {
  overflow: hidden;
  border-radius: 4px;
}

.card-title {
  margin-bottom: 4px;
  opacity: 0.9;
}
